In [1]:
# import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import gzip

In [2]:
# read in the data files from the train set to see how they look like

# most likely the keys will be "Env" and "Hybrid"

# Training data first
Trait_data = pd.read_csv(r"Training_Data\1_Training_Trait_Data_2014_2021.csv")

In [3]:
# take a look at the data
Trait_data.head()

,Env,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,Pass,Hybrid,...,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Yield_Mg_ha,Grain_Moisture,Twt_kg_m3
0,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,1,1.0,1.0,M0088/LH185,...,56.0,63.0,67.0,213.0,79.0,0.0,0.0,5.721725,20.8,706.664693
1,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,2,1.0,2.0,M0143/LH185,...,54.0,61.0,63.0,286.0,172.0,0.0,0.0,11.338246,25.8,693.792841
2,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,3,1.0,3.0,M0003/LH185,...,60.0,63.0,65.0,239.0,92.0,0.0,4.0,6.540810,20.8,698.941582
3,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,4,1.0,4.0,M0035/LH185,...,59.0,61.0,63.0,242.0,118.0,0.0,0.0,10.366857,23.7,711.813434
4,DEH1_2014,2014,DEH1,G2F_2014_15,1,1,5,1.0,5.0,M0052/LH185,...,58.0,63.0,65.0,211.0,92.0,0.0,0.0,10.908814,19.4,743.993065

In [4]:
# how many rows?
Trait_data.shape

(136012, 26)

In [5]:
# how many missing values per column?
na_values_trait_data = Trait_data.isna().sum()
na_values_trait_data

Env                         0
Year                        0
Field_Location              0
Experiment                  0
Replicate                   0
Block                       0
Plot                        0
Range                   18725
Pass                    18315
Hybrid                      0
Hybrid_orig_name            0
Hybrid_Parent1           1619
Hybrid_Parent2           1619
Plot_Area_ha                1
Date_Planted              362
Date_Harvested           1125
Stand_Count_plants      11653
Pollen_DAP_days         30497
Silk_DAP_days           32880
Plant_Height_cm         15561
Ear_Height_cm           15544
Root_Lodging_plants     59641
Stalk_Lodging_plants    48188
Yield_Mg_ha              7845
Grain_Moisture           7770
Twt_kg_m3               27952
dtype: int64

In [6]:
na_values_trait_data.sum()

299297

In [7]:
# import meta data
Meta_data = pd.read_csv(r"Training_Data\2_Training_Meta_Data_2014_2021.csv", encoding = "latin1")

In [8]:
Meta_data.shape

(217, 36)

In [9]:
Meta_data.head()

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Latitude_of_Field_Corner_#4 (upper left),Longitude_of_Field_Corner_#4 (upper left),Cardinal_Heading_Pass_1,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Comments
0,2017,TXH1-Early_2017,TXH1,Standard,College Station,University Field Lab,210,CS17-G2FE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for TXH1-Dry_2017, TXH1-Early_2017..."
1,2017,TXH1-Late_2017,TXH1,Standard,College Station,University Field Lab,210,CS17-G2FE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for TXH1-Dry_2017, TXH1-Early_2017..."
2,2014,IAH1b_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH..."
3,2014,IAH1c_2014,IAH1,NaN,Ames,Worle,NaN,NaN,NaN,9080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information for IAH1a_2014, IAH1b_2014,and IAH..."
4,2016,ARH1_2016,ARH1,NaN,Marianna,NaN,NaN,Mariana,NaN,8658,...,34.729151,-90.760916,NaN,Large pigweed in field at harvest August 30 an...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# missing values
missing_meta = Meta_data.isna().sum()
missing_meta

Year                                                                    0
Env                                                                     0
Experiment_Code                                                         0
Treatment                                                              56
City                                                                    5
Farm                                                                   56
Field                                                                  87
Trial_ID (Assigned by collaborator for internal reference)            114
Soil_Taxonomic_ID and horizon description, if known                   157
Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)     20
Weather_Station_Latitude (in decimal numbers NOT DMS)                  21
Weather_Station_Longitude (in decimal numbers NOT DMS)                 21
Date_weather_station_placed                                            70
Date_weather_station_removed                                           77
Previous_Crop                                                          31
Pre-plant_tillage_method(s)                                            45
In-season_tillage_method(s)                                           153
Type_of_planter (fluted cone; belt cone; air planter)                  25
System_Determining_Moisture                                            67
Pounds_Needed_Soil_Moisture                                            80
Latitude_of_Field_Corner_#1 (lower left)                               52
Longitude_of_Field_Corner_#1 (lower left)                              52
Latitude_of_Field_Corner_#2 (lower right)                              54
Longitude_of_Field_Corner_#2 (lower right)                             54
Latitude_of_Field_Corner_#3 (upper right)                              54
Longitude_of_Field_Corner_#3 (upper right)                             54
Latitude_of_Field_Corner_#4 (upper left)                               53
Longitude_of_Field_Corner_#4 (upper left)                              53
Cardinal_Heading_Pass_1                                                98
Issue/comment_#1                                                      144
Issue/comment_#2                                                      176
Issue/comment_#3                                                      196
Issue/comment_#4                                                      202
Issue/comment_#5                                                      210
Issue/comment_#6                                                      216
Comments                                                              207
dtype: int64

In [11]:
missing_meta.sum()

2960

In [12]:
# import soil data
soil_data = pd.read_csv(r"Training_Data\3_Training_Soil_Data_2015_2021.csv")

In [13]:
soil_data.shape

(141, 36)

In [14]:
soil_data.head()

,Year,Env,LabID,Date Received,Date Reported,E Depth,1:1 Soil pH,WDRF Buffer pH,1:1 S Salts mmho/cm,Texture No,...,% Silt,% Clay,Texture,BpH,Zinc ppm Zn,Iron ppm Fe,Manganese ppm Mn,Copper ppm Cu,Boron ppm B,Comments
0,2021,NEH3_2021,Ward Laboratories Inc,08/31/2021,09/02/2021,12.0,5.8,6.8,0.26,2.0,...,53.0,22.0,Silt Loam,NaN,NaN,NaN,NaN,NaN,NaN,Results referent to NEH2_2021 and NEH3_2021
1,2020,MOH1_1_2020,Ward Laboratories Inc,9/16/20,9/18/20,12.0,6.1,6.9,0.36,2.0,...,67.0,14.0,Silt Loam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,ARH1_2016,Local Lab,NaN,4/8/2016,12.0,NaN,NaN,NaN,2.0,...,NaN,NaN,Silt Loam-Silty Clay Loam,NaN,3.6,174.0,161.0,1.9,0.3,NaN
3,2016,ARH2_2016,Local Lab,NaN,4/12/2016,12.0,NaN,NaN,NaN,2.0,...,NaN,NaN,Silt Loam,NaN,1.9,131.0,248.0,1.5,0.0,NaN
4,2016,DEH1_2016,Ward Laboratories Inc,5/19/2016,5/23/2016,12.0,5.7,6.4,0.37,2.0,...,13.0,12.0,Sandy Loam,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# missing values
missing_soil = soil_data.isna().sum()

In [16]:
missing_soil.sum()

1349

In [17]:
# weather data
weather_data = pd.read_csv(r"Training_Data\4_Training_Weather_Data_2014_2021.csv")

In [18]:
weather_data.shape

(77431, 18)

In [19]:
weather_data.head()

,Env,Date,QV2M,T2MDEW,PS,RH2M,WS2M,GWETTOP,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M_MAX,T2M_MIN,T2MWET,GWETROOT,T2M,GWETPROF,ALLSKY_SFC_SW_DNI,PRECTOTCORR
0,ARH1_2016,20160101,3.54,-0.78,102.34,77.00,2.15,0.84,8.21,41.96,7.80,-0.70,1.15,0.83,3.08,0.8,5.96,0.0
1,ARH1_2016,20160102,3.23,-1.91,102.04,74.62,1.49,0.84,11.28,55.13,10.15,-3.10,0.42,0.83,2.74,0.8,16.13,0.0
2,ARH1_2016,20160103,4.09,1.05,101.59,80.69,1.95,0.84,9.78,49.21,12.39,-1.29,2.72,0.83,4.38,0.8,18.36,0.0
3,ARH1_2016,20160104,2.87,-3.49,102.24,79.88,3.45,0.84,7.35,35.66,4.56,-4.00,-1.79,0.83,-0.09,0.8,10.87,0.0
4,ARH1_2016,20160105,2.81,-3.64,102.37,78.81,1.95,0.84,13.00,62.04,6.94,-4.59,-1.74,0.82,0.16,0.8,27.02,0.0

In [20]:
# missing weather
missing_weather = weather_data.isna().sum()
missing_weather.sum()

0

In [21]:
# EC data
EC_data = pd.read_csv(r"Training_Data\6_Training_EC_Data_2014_2021.csv")

In [22]:
EC_data.shape

(165, 766)

In [23]:
EC_data.head()

,Env,SDR_pGerEme_1,SDR_pEmeEnJ_1,SDR_pEnJFlo_1,SDR_pFloFla_1,SDR_pFlaFlw_1,SDR_pFlwStG_1,SDR_pStGEnG_1,SDR_pEnGMat_1,SDR_pMatHar_1,...,LAI_pMatHar,AccumulatedTT_pGerEme,AccumulatedTT_pEmeEnJ,AccumulatedTT_pEnJFlo,AccumulatedTT_pFloFla,AccumulatedTT_pFlaFlw,AccumulatedTT_pFlwStG,AccumulatedTT_pStGEnG,AccumulatedTT_pEnGMat,AccumulatedTT_pMatHar
0,DEH1_2014,0.966035,1.615324,0.542019,0.317045,0.617058,0.773524,0.983128,0.407474,0.350057,...,0.205764,49.504228,193.031359,298.945606,568.505726,901.267505,991.957052,1310.703432,1568.706763,1576.874263
1,GAH1_2014,5.193014,4.045844,7.391888,0.906985,0.416992,0.271526,0.319996,0.842299,1.299659,...,0.055241,58.476261,188.937888,301.295911,578.477880,923.290662,1008.783376,1316.817879,1582.773261,1591.640761
2,IAH1a_2014,2.737199,2.600896,5.387700,2.758684,0.652613,0.604745,2.120976,1.945856,1.805435,...,1.684233,44.833797,176.274597,270.018175,547.970301,844.619071,937.820486,1236.469643,1490.937025,1499.509525
3,ILH1_2014,2.912543,4.779256,2.055311,2.728058,1.798698,1.831869,1.252356,1.720705,1.947210,...,1.983900,55.717746,168.526560,280.489645,558.097862,873.502307,964.280829,1258.346008,1527.124520,1536.317020
4,INH1_2014,2.420657,3.594260,4.747529,1.513581,1.163567,2.107868,5.232937,18.253280,31.352579,...,0.000000,62.757189,259.279147,435.528791,785.039009,1152.276580,1240.862791,1687.130584,1943.904924,1953.957060

In [24]:
# missing EC
missing_EC = EC_data.isna().sum()

In [25]:
missing_EC.sum()

0

Okay, so no missing data in the EC data, and weather data, but all other datasets have missing values. When doing preprocessing, it is better to do at least minimal preprocessing for individual data than straight away joining the data. Hence start with that.

Test Data

In [26]:
# import the test data, and compare with train data
# submission data

submission_test = pd.read_csv(r"Testing_Data\1_Submission_Template_2022.csv")

In [27]:
submission_test.shape

(11555, 3)

In [28]:
submission_test.head()

         Env     Hybrid  Yield_Mg_ha
0  DEH1_2022  B14A/OH43          NaN
1  DEH1_2022    B37/H95          NaN
2  DEH1_2022   B73/MO17          NaN
3  DEH1_2022  B73/PHN82          NaN
4  DEH1_2022  B73/TX779          NaN

In [29]:
# any duplicate entries? - nope
submission_test = submission_test.drop_duplicates()

In [30]:
submission_test.shape

(11555, 3)

In [31]:
# how many test hybrids?
test_hybrids = list(submission_test['Hybrid'].unique())
len(test_hybrids)

548

In [32]:
# how many test Envs?
test_envs = list(submission_test['Env'].unique())
len(test_envs)

26

In [33]:
# import traits data

# interesting! There is no any trait data!

In [34]:
# but we need the three corresponding columns in train trait data for joinning the dataframes
# Therefore, lets extract those data

test_col_list = submission_test.columns.tolist()
train_col_list = Trait_data.columns.tolist()

train_col_not_in_test = []
for val in train_col_list:
    if val not in test_col_list:
        train_col_not_in_test.append(val)

# train_sub_data = Trait_data[[""]]
# train_sub_data.shape

In [35]:
train_col_not_in_test

['Year',
 'Field_Location',
 'Experiment',
 'Replicate',
 'Block',
 'Plot',
 'Range',
 'Pass',
 'Hybrid_orig_name',
 'Hybrid_Parent1',
 'Hybrid_Parent2',
 'Plot_Area_ha',
 'Date_Planted',
 'Date_Harvested',
 'Stand_Count_plants',
 'Pollen_DAP_days',
 'Silk_DAP_days',
 'Plant_Height_cm',
 'Ear_Height_cm',
 'Root_Lodging_plants',
 'Stalk_Lodging_plants',
 'Grain_Moisture',
 'Twt_kg_m3']

In [36]:
train_trait_none = Trait_data[test_col_list]

In [37]:
train_trait_others = Trait_data[train_col_not_in_test]

In [38]:
train_sub_data = pd.concat([train_trait_none, train_trait_others], axis = 1)

In [39]:
train_sub_data.shape

(136012, 26)

In [40]:
train_sub_data.head()

,Env,Hybrid,Yield_Mg_ha,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,...,Date_Harvested,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Grain_Moisture,Twt_kg_m3
0,DEH1_2014,M0088/LH185,5.721725,2014,DEH1,G2F_2014_15,1,1,1,1.0,...,9/29/14,56.0,63.0,67.0,213.0,79.0,0.0,0.0,20.8,706.664693
1,DEH1_2014,M0143/LH185,11.338246,2014,DEH1,G2F_2014_15,1,1,2,1.0,...,9/29/14,54.0,61.0,63.0,286.0,172.0,0.0,0.0,25.8,693.792841
2,DEH1_2014,M0003/LH185,6.540810,2014,DEH1,G2F_2014_15,1,1,3,1.0,...,9/29/14,60.0,63.0,65.0,239.0,92.0,0.0,4.0,20.8,698.941582
3,DEH1_2014,M0035/LH185,10.366857,2014,DEH1,G2F_2014_15,1,1,4,1.0,...,9/29/14,59.0,61.0,63.0,242.0,118.0,0.0,0.0,23.7,711.813434
4,DEH1_2014,M0052/LH185,10.908814,2014,DEH1,G2F_2014_15,1,1,5,1.0,...,9/29/14,58.0,63.0,65.0,211.0,92.0,0.0,0.0,19.4,743.993065

In [41]:
train_sub_data = train_sub_data.drop_duplicates()

In [42]:
train_sub_data.shape

(136012, 26)

In [43]:
train_sub_data.head()

,Env,Hybrid,Yield_Mg_ha,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,...,Date_Harvested,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Grain_Moisture,Twt_kg_m3
0,DEH1_2014,M0088/LH185,5.721725,2014,DEH1,G2F_2014_15,1,1,1,1.0,...,9/29/14,56.0,63.0,67.0,213.0,79.0,0.0,0.0,20.8,706.664693
1,DEH1_2014,M0143/LH185,11.338246,2014,DEH1,G2F_2014_15,1,1,2,1.0,...,9/29/14,54.0,61.0,63.0,286.0,172.0,0.0,0.0,25.8,693.792841
2,DEH1_2014,M0003/LH185,6.540810,2014,DEH1,G2F_2014_15,1,1,3,1.0,...,9/29/14,60.0,63.0,65.0,239.0,92.0,0.0,4.0,20.8,698.941582
3,DEH1_2014,M0035/LH185,10.366857,2014,DEH1,G2F_2014_15,1,1,4,1.0,...,9/29/14,59.0,61.0,63.0,242.0,118.0,0.0,0.0,23.7,711.813434
4,DEH1_2014,M0052/LH185,10.908814,2014,DEH1,G2F_2014_15,1,1,5,1.0,...,9/29/14,58.0,63.0,65.0,211.0,92.0,0.0,0.0,19.4,743.993065

In [44]:
submission_test.head()

         Env     Hybrid  Yield_Mg_ha
0  DEH1_2022  B14A/OH43          NaN
1  DEH1_2022    B37/H95          NaN
2  DEH1_2022   B73/MO17          NaN
3  DEH1_2022  B73/PHN82          NaN
4  DEH1_2022  B73/TX779          NaN

In [45]:
# vertically stack the two dataframes for joins in future
sub_all = pd.concat([train_sub_data, submission_test], axis = 0)

In [46]:
sub_all.shape

(147567, 26)

In [47]:
sub_all.tail()

,Env,Hybrid,Yield_Mg_ha,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,...,Date_Harvested,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Grain_Moisture,Twt_kg_m3
11550,WIH3_2022,W10010_0337/LH244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11551,WIH3_2022,W10010_0346/LH244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11552,WIH3_2022,W10010_0358/LH244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11553,WIH3_2022,W10010_0381/LH244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11554,WIH3_2022,W10010_0452/LH244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# import meta data
test_meta_data = pd.read_csv(r"Testing_Data\2_Testing_Meta_Data_2022.csv")

In [49]:
test_meta_data.head()

,Year,Env,Experiment_Code,Treatment,City,Farm,Field,Trial_ID (Assigned by collaborator for internal reference),"Soil_Taxonomic_ID and horizon description, if known","Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)",...,Issue/comment_#1,Issue/comment_#2,Issue/comment_#3,Issue/comment_#4,Issue/comment_#5,Issue/comment_#6,Irrigated,Date_Planted,Plot_Area_ha,Comments
0,2022,DEH1_2022,DEH1,Standard,Georgetown,Caraval Research & Education Center,19 AB,NaN,NaN,22053.0,...,Deer damage on the early hybrids,Link to additional weather source available on...,NaN,NaN,NaN,NaN,yes,4/25/22,0.000697,NaN
1,2022,GAH1_2022,GAH1,Standard,Tifton,USDA Belflower,24,NaN,Tifton loamy sand,8427.0,...,Link to additional weather source available on...,NaN,NaN,NaN,NaN,NaN,yes,4/4/22,0.000780,NaN
2,2022,GAH2_2022,GAH2,Standard,Watkinsville,Iron Horse Farm,F / GAH2,NaN,NaN,8631.0,...,Local_Check from John Patrick Chemical,Plot 77 and 261 are local check and have same ...,6-2-22 realized side border corn wasn't plante...,Hog damaged noticed on 6/28/22; affected plots...,NaN,NaN,yes,4/14/22,0.000883,NaN
3,2022,IAH1_2022,IAH1,Standard,Crawfordsville,Southeast Research Farm,14,IAH1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN,0.000813,NaN
4,2022,IAH2_2022,IAH2,Standard,Carroll,Thielen,Field 06,IAH2,NaN,NaN,...,Thunderstorm caused very high level of root lo...,Root lodging not recroded because of high perc...,"Greensnap not counted separately, so stalk lod...",Some very low yields caused by greensnap\n,NaN,NaN,no,NaN,0.000813,NaN

In [50]:
test_meta_data.shape

(26, 39)

In [51]:
test_meta_cols = list(test_meta_data.columns)

In [52]:
test_meta_cols

['Year',
 'Env',
 'Experiment_Code',
 'Treatment',
 'City',
 'Farm',
 'Field',
 'Trial_ID (Assigned by collaborator for internal reference)',
 'Soil_Taxonomic_ID and horizon description, if known',
 'Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)',
 'Weather_Station_Latitude (in decimal numbers NOT DMS)',
 'Weather_Station_Longitude (in decimal numbers NOT DMS)',
 'Date_weather_station_placed',
 'Date_weather_station_removed',
 'Previous_Crop',
 'Pre-plant_tillage_method(s)',
 'In-season_tillage_method(s)',
 'Type_of_planter (fluted cone; belt cone; air planter)',
 'System_Determining_Moisture',
 'Pounds_Needed_Soil_Moisture',
 'Latitude_of_Field_Corner_#1 (lower left)',
 'Longitude_of_Field_Corner_#1 (lower left)',
 'Latitude_of_Field_Corner_#2 (lower right)',
 'Longitude_of_Field_Corner_#2 (lower right)',
 'Latitude_of_Field_Corner_#3 (upper right)',
 'Longitude_of_Field_Corner_#3 (upper right)',
 'Latitude_of_Field_Corner_#4 (upper left)',
 'Longitude_of_Field_Corner_#4 (upper left)',
 'Cardinal_Heading_Pass_1',
 'Issue/comment_#1',
 'Issue/comment_#2',
 'Issue/comment_#3',
 'Issue/comment_#4',
 'Issue/comment_#5',
 'Issue/comment_#6',
 'Irrigated',
 'Date_Planted',
 'Plot_Area_ha',
 'Comments']

In [53]:
len(test_meta_cols)

39

In [54]:
Meta_data.shape

(217, 36)

In [55]:
# missing values
missing_meta_test = test_meta_data.isna().sum()
missing_meta_test.sum()

270

In [56]:
meta_cols = list(Meta_data.columns)

In [57]:
# meta_cols

In [58]:
# intersecting columns for stacking
meta_intersecting = list(set(meta_cols) & set(test_meta_cols))

In [59]:
# meta_intersecting

In [60]:
len(meta_cols)

36

In [61]:
# meta_cols

In [62]:
# are these the same as train columns of meta sanity check
meta_intersecting == meta_cols

False

In [63]:
# extract the data from both datasets that intersect
test_meta_ext = test_meta_data[meta_intersecting]

In [64]:
test_meta_ext.head()

,Comments,City,Pre-plant_tillage_method(s),Issue/comment_#6,Env,In-season_tillage_method(s),Farm,Experiment_Code,Previous_Crop,Date_weather_station_removed,...,Weather_Station_Longitude (in decimal numbers NOT DMS),Pounds_Needed_Soil_Moisture,Issue/comment_#5,Longitude_of_Field_Corner_#2 (lower right),Issue/comment_#3,Date_weather_station_placed,Year,Issue/comment_#1,Treatment,Weather_Station_Latitude (in decimal numbers NOT DMS)
0,NaN,Georgetown,NaN,NaN,DEH1_2022,NaN,Caraval Research & Education Center,DEH1,soybean,9/19/22,...,-75.458000,NaN,NaN,-75.458000,NaN,4/29/22,2022,Deer damage on the early hybrids,Standard,38.637000
1,NaN,Tifton,"ripper bed, rototill",NaN,GAH1_2022,none,USDA Belflower,GAH1,peanut,8/25/22,...,-83.557290,2,NaN,-83.558720,NaN,4/5/22,2022,Link to additional weather source available on...,Standard,31.506330
2,NaN,Watkinsville,Strip tillage,NaN,GAH2_2022,none,Iron Horse Farm,GAH2,soybeans with fall cereal rye cover,9/22/22,...,-83.304912,NaN,NaN,-83.304913,6-2-22 realized side border corn wasn't plante...,4/14/22,2022,Local_Check from John Patrick Chemical,Standard,33.726022
3,NaN,Crawfordsville,NaN,NaN,IAH1_2022,none,Southeast Research Farm,IAH1,soybean,NaN,...,NaN,4,NaN,-91.487440,NaN,NaN,2022,NaN,Standard,NaN
4,NaN,Carroll,NaN,NaN,IAH2_2022,none,Thielen,IAH2,soybean,NaN,...,NaN,4,NaN,-94.728794,"Greensnap not counted separately, so stalk lod...",NaN,2022,Thunderstorm caused very high level of root lo...,Standard,NaN

In [65]:
train_meta_ext = Meta_data[meta_intersecting]

In [66]:
train_meta_ext.head()

,Comments,City,Pre-plant_tillage_method(s),Issue/comment_#6,Env,In-season_tillage_method(s),Farm,Experiment_Code,Previous_Crop,Date_weather_station_removed,...,Weather_Station_Longitude (in decimal numbers NOT DMS),Pounds_Needed_Soil_Moisture,Issue/comment_#5,Longitude_of_Field_Corner_#2 (lower right),Issue/comment_#3,Date_weather_station_placed,Year,Issue/comment_#1,Treatment,Weather_Station_Latitude (in decimal numbers NOT DMS)
0,"Information for TXH1-Dry_2017, TXH1-Early_2017...",College Station,NaN,NaN,TXH1-Early_2017,NaN,University Field Lab,TXH1,NaN,8/10/17,...,-96.432581,NaN,NaN,NaN,NaN,3/8/17,2017,NaN,Standard,30.545350
1,"Information for TXH1-Dry_2017, TXH1-Early_2017...",College Station,NaN,NaN,TXH1-Late_2017,NaN,University Field Lab,TXH1,NaN,8/10/17,...,-96.432581,NaN,NaN,NaN,NaN,3/8/17,2017,NaN,Standard,30.545350
2,"Information for IAH1a_2014, IAH1b_2014,and IAH...",Ames,field cultivator,NaN,IAH1b_2014,NaN,Worle,IAH1,soybean,NaN,...,-93.696188,NaN,NaN,NaN,NaN,NaN,2014,NaN,NaN,41.996530
3,"Information for IAH1a_2014, IAH1b_2014,and IAH...",Ames,field cultivator,NaN,IAH1c_2014,NaN,Worle,IAH1,soybean,NaN,...,-93.696188,NaN,NaN,NaN,NaN,NaN,2014,NaN,NaN,41.996530
4,NaN,Marianna,"Cultivate, hip and row",NaN,ARH1_2016,none,NaN,ARH1,corn,9/1/16,...,-90.760278,NaN,NaN,-90.76094,NaN,4/22/16,2016,Large pigweed in field at harvest August 30 an...,NaN,34.728333

In [67]:
list(train_meta_ext.columns) == list(test_meta_ext.columns)

True

In [68]:
# now stack the two datasets together
meta_all = pd.concat([train_meta_ext, test_meta_ext], axis = 0)

In [69]:
meta_all.shape

(243, 36)

In [70]:
# meta_all.tail()

#### Stack soil data

In [71]:
# soil data 
test_soil_data = pd.read_csv(r"Testing_Data\3_Testing_Soil_Data_2022.csv")

In [72]:
test_soil_data.head()

,Year,Env,LabID,Date Received,Date Reported,E Depth,1:1 Soil pH,WDRF Buffer pH,1:1 S Salts mmho/cm,Texture No,...,%K Sat,%Ca Sat,%Mg Sat,%Na Sat,Mehlich P-III ppm P,% Sand,% Silt,% Clay,Texture,Comments
0,2022,DEH1_2022,Ward Laboratories Inc,8/18/2022,8/22/2022,8,6.6,7.2,0.21,2.0,...,10,69,19,2,75,74.0,15.0,11.0,Sandy Loam,NaN
1,2022,GAH1_2022,Ward Laboratories Inc,5/12/2022,5/16/2022,12,6.2,6.9,0.52,2.0,...,13,44,13,1,137,83.0,10.0,7.0,Loamy Sand,NaN
2,2022,GAH2_2022,Ward Laboratories Inc,4/26/2022,4/28/2022,12,6.1,6.7,0.23,2.0,...,5,38,11,1,45,63.0,16.0,21.0,Sandy Clay Loam,NaN
3,2022,IAH1_2022,Ward Laboratories Inc,6/24/2022,6/28/2022,8,6.2,6.6,0.36,2.0,...,2,59,24,0,51,16.0,45.0,39.0,Silty Clay Loam,NaN
4,2022,IAH2_2022,Ward Laboratories Inc,6/24/2022,6/28/2022,8,5.9,6.4,0.17,2.0,...,3,55,12,0,59,44.0,29.0,27.0,Loam,NaN

In [73]:
test_soil_data.shape

(21, 30)

In [74]:
test_soil_data = test_soil_data.drop_duplicates()
test_soil_data.shape

(21, 30)

In [75]:
soil_data.shape

(141, 36)

In [76]:
soil_data = soil_data.drop_duplicates()

In [77]:
soil_data.shape

(141, 36)

In [78]:
soil_data.shape

(141, 36)

In [79]:
soil_data.isna().sum().sum()

1349

In [80]:
# missing values
missing_soil_test = test_soil_data.isna().sum()
missing_soil_test.sum()

26

In [81]:
soil_int_cols = list(set(soil_data.columns) & set(test_soil_data.columns))

In [82]:
len(soil_int_cols)

30

In [83]:
# exract the intersecting columns from both datasets
soil_train_final = soil_data[soil_int_cols]
soil_test_final = test_soil_data[soil_int_cols]

In [84]:
soil_train_final.isna().sum().sum()

529

In [85]:
soil_test_final.isna().sum().sum()

26

In [86]:
# stack these two vertically
soil_final = pd.concat([soil_train_final, soil_test_final], axis = 0)

In [87]:
soil_final.shape

(162, 30)

In [88]:
soil_final.isna().sum().sum()

555

#### Stack weather dta together

In [89]:
# weather data
test_weather_data = pd.read_csv(r"Testing_Data\4_Testing_Weather_Data_2022.csv")

In [90]:
test_weather_data.head()

,Env,Date,QV2M,PS,WS2M,ALLSKY_SFC_SW_DWN,RH2M,GWETTOP,T2MWET,T2M_MAX,T2MDEW,GWETROOT,GWETPROF,T2M,T2M_MIN,ALLSKY_SFC_PAR_TOT,PRECTOTCORR,ALLSKY_SFC_SW_DNI
0,DEH1_2022,20220101,9.70,100.62,3.25,1.89,97.00,0.61,13.69,17.08,13.51,0.62,0.61,13.89,10.15,10.18,4.59,1.30
1,DEH1_2022,20220102,9.70,100.44,3.66,2.45,93.00,0.66,13.93,16.78,13.37,0.65,0.63,14.49,8.79,13.28,14.32,1.43
2,DEH1_2022,20220103,3.30,101.48,6.94,2.30,84.56,0.67,-0.85,7.39,-2.04,0.66,0.65,0.33,-5.74,12.02,25.85,2.05
3,DEH1_2022,20220104,2.14,102.81,1.91,10.73,85.75,0.66,-6.02,1.01,-7.28,0.67,0.65,-4.77,-9.42,51.66,0.01,25.53
4,DEH1_2022,20220105,4.76,101.36,2.99,5.67,98.44,0.70,3.15,5.08,3.10,0.68,0.66,3.21,-4.70,28.96,2.93,2.68

In [91]:
test_weather_data.isna().sum().sum()

34603

In [92]:
test_weather_data.shape

(8164, 18)

In [93]:
test_weather_data = test_weather_data.drop_duplicates()
test_weather_data.shape

(8164, 18)

In [94]:
weather_data.shape

(77431, 18)

In [95]:
weather_data = weather_data.drop_duplicates()
weather_data.shape

(77431, 18)

In [96]:

# are the columns the same?
test_weather_data.columns == weather_data.columns

array([ True,  True,  True, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False])

In [97]:
# may be the order of appearance is incorrect, therefore, let's sort the dataframes according to columns and merge

In [98]:
weather_data = weather_data.reindex(sorted(weather_data.columns), axis = 1)

In [99]:
test_weather_data = test_weather_data.reindex(sorted(weather_data.columns), axis = 1)

In [100]:
test_weather_data.isna().sum().sum()

34603

In [101]:
# are the columns the same now?
test_weather_data.columns == weather_data.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [102]:
# now can concatenate the two dataframes

In [103]:
weather_final = pd.concat([weather_data,test_weather_data ], axis = 0)

In [104]:
weather_final.shape

(85595, 18)

In [105]:
test_weather_data.shape

(8164, 18)

In [106]:
weather_final.shape

(85595, 18)

In [107]:
weather_final.isna().sum().sum()

34603

Concatenate EC data

In [108]:
# EC data
test_ec_data = pd.read_csv(r"Testing_Data\6_Testing_EC_Data_2022.csv")

In [109]:
test_ec_data.head()

,Env,SDR_pGerEme_1,SDR_pEmeEnJ_1,SDR_pEnJFlo_1,SDR_pFloFla_1,SDR_pFlaFlw_1,SDR_pFlwStG_1,SDR_pStGEnG_1,SDR_pEnGMat_1,SDR_pMatHar_1,...,LAI_pMatHar,AccumulatedTT_pGerEme,AccumulatedTT_pEmeEnJ,AccumulatedTT_pEnJFlo,AccumulatedTT_pFloFla,AccumulatedTT_pFlaFlw,AccumulatedTT_pFlwStG,AccumulatedTT_pStGEnG,AccumulatedTT_pEnGMat,AccumulatedTT_pMatHar
0,DEH1_2022,1.131076,2.358124,1.980978,0.733648,0.381055,1.418186,0.730341,0.651287,0.471904,...,0.538889,48.070816,166.008999,278.052122,551.051354,862.739941,956.408061,1259.351230,1510.362176,1520.367176
1,GAH1_2022,1.754471,-0.185824,0.324568,0.203035,-0.095668,-0.027668,0.180446,0.864418,0.670617,...,0.025638,56.099749,205.363931,328.551985,613.156450,954.857661,1044.227938,1367.658870,1644.471762,1654.521762
2,GAH2_2022,2.067374,0.625604,0.211157,0.608355,0.412352,0.092036,1.258845,0.644571,0.543398,...,0.041235,54.065761,205.846936,331.936362,624.394771,960.262507,1051.907378,1377.111405,1650.965597,1660.548208
3,IAH2_2022,7.459778,4.935754,2.289605,1.633580,1.294828,0.674776,1.201408,2.079899,2.322418,...,0.400715,42.872127,195.551707,286.116876,535.684510,848.433303,933.829790,1240.770200,1489.122031,1501.700752
4,IAH3_2022,11.508488,5.420591,3.548208,2.069801,1.468183,1.244563,1.383816,2.052714,1.942834,...,2.138018,39.483802,216.366246,336.132373,608.834695,946.986274,1035.111504,1372.242979,1646.983582,1653.978032

In [110]:
test_ec_data.shape

(24, 766)

In [111]:
test_ec_data.isna().sum().sum()

0

In [112]:
test_ec_data = test_ec_data.drop_duplicates()
test_ec_data.shape

(24, 766)

In [113]:
test_ec_data.isna().sum().sum()

0

In [114]:
EC_data.shape

(165, 766)

In [115]:
EC_data = EC_data.drop_duplicates()
EC_data.shape

(165, 766)

In [116]:
EC_data.isna().sum().sum()

0

In [117]:
test_EC_columns = list(test_ec_data.columns)
# test_EC_columns

In [118]:
EC_columns = list(EC_data.columns)
# EC_columns

In [119]:
# are the columns the same for EC train and test sets?
sum(test_ec_data.columns == EC_data.columns)
# They are the same, so stack together

766

In [120]:
# Since the columns are all same, we can vertically stack the two data sets together
EC_all = pd.concat([EC_data, test_ec_data], axis=0)
EC_all.shape

(189, 766)

In [121]:
EC_all.head()

,Env,SDR_pGerEme_1,SDR_pEmeEnJ_1,SDR_pEnJFlo_1,SDR_pFloFla_1,SDR_pFlaFlw_1,SDR_pFlwStG_1,SDR_pStGEnG_1,SDR_pEnGMat_1,SDR_pMatHar_1,...,LAI_pMatHar,AccumulatedTT_pGerEme,AccumulatedTT_pEmeEnJ,AccumulatedTT_pEnJFlo,AccumulatedTT_pFloFla,AccumulatedTT_pFlaFlw,AccumulatedTT_pFlwStG,AccumulatedTT_pStGEnG,AccumulatedTT_pEnGMat,AccumulatedTT_pMatHar
0,DEH1_2014,0.966035,1.615324,0.542019,0.317045,0.617058,0.773524,0.983128,0.407474,0.350057,...,0.205764,49.504228,193.031359,298.945606,568.505726,901.267505,991.957052,1310.703432,1568.706763,1576.874263
1,GAH1_2014,5.193014,4.045844,7.391888,0.906985,0.416992,0.271526,0.319996,0.842299,1.299659,...,0.055241,58.476261,188.937888,301.295911,578.477880,923.290662,1008.783376,1316.817879,1582.773261,1591.640761
2,IAH1a_2014,2.737199,2.600896,5.387700,2.758684,0.652613,0.604745,2.120976,1.945856,1.805435,...,1.684233,44.833797,176.274597,270.018175,547.970301,844.619071,937.820486,1236.469643,1490.937025,1499.509525
3,ILH1_2014,2.912543,4.779256,2.055311,2.728058,1.798698,1.831869,1.252356,1.720705,1.947210,...,1.983900,55.717746,168.526560,280.489645,558.097862,873.502307,964.280829,1258.346008,1527.124520,1536.317020
4,INH1_2014,2.420657,3.594260,4.747529,1.513581,1.163567,2.107868,5.232937,18.253280,31.352579,...,0.000000,62.757189,259.279147,435.528791,785.039009,1152.276580,1240.862791,1687.130584,1943.904924,1953.957060

In [122]:
# any missing values?
EC_all.isna().sum().sum()

# no missing values

0

#### Getting rid of columns

#### Trait data

In [123]:
# Note these almost all columns here are not available in the test data, therefore, 
# let's only consider the dataset with the required three columns.

In [124]:
# Train only data
train_sub_data.shape

(136012, 26)

In [125]:
# all data
sub_all.shape

(147567, 26)

In [126]:
# sanity check: To see if there are 136012 obs when we concatenate the first two columns in the specific train dataset.

In [127]:
train_sub_data['concat_term'] = train_sub_data['Env'] + train_sub_data['Hybrid']

In [128]:
train_sub_data.columns

Index(['Env', 'Hybrid', 'Yield_Mg_ha', 'Year', 'Field_Location', 'Experiment',
       'Replicate', 'Block', 'Plot', 'Range', 'Pass', 'Hybrid_orig_name',
       'Hybrid_Parent1', 'Hybrid_Parent2', 'Plot_Area_ha', 'Date_Planted',
       'Date_Harvested', 'Stand_Count_plants', 'Pollen_DAP_days',
       'Silk_DAP_days', 'Plant_Height_cm', 'Ear_Height_cm',
       'Root_Lodging_plants', 'Stalk_Lodging_plants', 'Grain_Moisture',
       'Twt_kg_m3', 'concat_term'],
      dtype='object')

In [129]:
unique_items = list(train_sub_data['concat_term'].unique())

In [130]:
len(unique_items)

87412

In [131]:
# so, how many per non unique categories?
train_sub_data['concat_term'].value_counts().head(35000)

IAH1a_2014MBS2747_MBS9508               37
IAH2_2021MBS3755GTCBLL_MBS8488DC RIB    36
IAH3_2021MBS3755GTCBLL_MBS8488DC RIB    30
IAH4_2021MBS3755GTCBLL_MBS8488DC RIB    30
INH1_2014P1221AMXT                      25
                                        ..
IAH3_2016PHB47/PHG83                     2
IAH3_2016PHN66/PHN82                     2
IAH3_2016PHW52/PHG29                     2
IAH3_2016PHN66/Q381                      2
IAH3_2016LH198/LH82                      2
Name: concat_term, Length: 35000, dtype: int64

In [132]:
# meaning around 39000 combinations have atleast two lines each

In [133]:
# how many unique combinations in test set?
submission_test.shape

(11555, 3)

In [134]:
unique_combos = list(submission_test['Env'] + submission_test["Hybrid"])

In [135]:
# how many uniquecombos here?
len(unique_combos)

11555

In [136]:
# as expected we have 11555

In [137]:
# Since trait data is not available for test data, we ignore all these columns

Meta data

In [138]:
meta_all.shape

(243, 36)

In [139]:
meta_cols_all = list(meta_all.columns)
meta_cols_all

['Comments',
 'City',
 'Pre-plant_tillage_method(s)',
 'Issue/comment_#6',
 'Env',
 'In-season_tillage_method(s)',
 'Farm',
 'Experiment_Code',
 'Previous_Crop',
 'Date_weather_station_removed',
 'Longitude_of_Field_Corner_#1 (lower left)',
 'Type_of_planter (fluted cone; belt cone; air planter)',
 'Issue/comment_#2',
 'Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)',
 'Longitude_of_Field_Corner_#3 (upper right)',
 'Issue/comment_#4',
 'Trial_ID (Assigned by collaborator for internal reference)',
 'Latitude_of_Field_Corner_#3 (upper right)',
 'Longitude_of_Field_Corner_#4 (upper left)',
 'Latitude_of_Field_Corner_#2 (lower right)',
 'System_Determining_Moisture',
 'Latitude_of_Field_Corner_#4 (upper left)',
 'Field',
 'Cardinal_Heading_Pass_1',
 'Soil_Taxonomic_ID and horizon description, if known',
 'Latitude_of_Field_Corner_#1 (lower left)',
 'Weather_Station_Longitude (in decimal numbers NOT DMS)',
 'Pounds_Needed_Soil_Moisture',
 'Issue/comment_#5',
 'Longitude_of_Field_Corner_#2 (lower right)',
 'Issue/comment_#3',
 'Date_weather_station_placed',
 'Year',
 'Issue/comment_#1',
 'Treatment',
 'Weather_Station_Latitude (in decimal numbers NOT DMS)']

Previous_Crop

In [140]:
meta_all['Previous_Crop'].value_counts()

soybean                                                                                                                               142
corn                                                                                                                                   29
wheat                                                                                                                                  14
peanut                                                                                                                                  6
Winter wheat                                                                                                                            4
sorghum                                                                                                                                 3
cotton                                                                                                                                  2
wheat/double crop soybean                                                                                                               2
2019/20 wheat                                                                                                                           1
Lima beans followed by rye cover crop                                                                                                   1
wheat and Double Crop soybean                                                                                                           1
Small Grains and Double Crop soybean                                                                                                    1
wheat/soybean                                                                                                                           1
soybean/pumpkin                                                                                                                         1
sugar beet                                                                                                                              1
Fallow most of 2014 winter planted in fall of 2014 then sprayed with Glystar 24 floz/a on 5/3/15  and killed spring of 2015 spray       1
soybeans with fall cereal rye cover                                                                                                     1
Name: Previous_Crop, dtype: int64

In [141]:
meta_all['Previous_Crop'] = meta_all['Previous_Crop'].fillna("not_avail")

In [142]:
prev_crop_list = list(meta_all['Previous_Crop'])
# prev_crop_list = [x.lower() for x in prev_crop_list]
(meta_all['Previous_Crop'] == 'not_avail').value_counts()[1]

32

In [143]:
# prev_crop_list

In [144]:
new_crop_col = []
for i in prev_crop_list:
    if ((meta_all['Previous_Crop'] == i).value_counts()[1])/meta_all.shape[0] >= 0.05:
        i = i
    else:
        i = 'other'
    new_crop_col.append(i)

In [145]:
meta_all['Previous_Crop'] = new_crop_col

In [146]:
meta_all['Previous_Crop'].value_counts()

soybean      142
not_avail     32
corn          29
other         26
wheat         14
Name: Previous_Crop, dtype: int64

In [147]:
# meta_all['Previous_Crop'].value_counts()

Type_of_planter

In [148]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts()

air planter                                       130
fluted cone                                        34
belt cone                                          22
Air planter                                         7
SRES Air                                            3
vacuum precision planter                            3
4 row almaco GPS Drop precision vacuum planter      2
air                                                 2
Fluted cone                                         2
Almaco TP2                                          2
Almaco 4-row air planter                            2
air (Seedpro)                                       1
Vacum                                               1
Fluted Cone                                         1
sres packing planter                                1
Vacuum                                              1
vacuum planter                                      1
John Deere 71 cone planter                          1
John Deere 7300                                     1
Almaco Seed Pro 360                                 1
Name: Type_of_planter (fluted cone; belt cone; air planter), dtype: int64

In [149]:
make_list = list(meta_all['Type_of_planter (fluted cone; belt cone; air planter)'])

In [150]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] = meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].fillna("not_avail")

In [151]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts()

air planter                                       130
fluted cone                                        34
not_avail                                          25
belt cone                                          22
Air planter                                         7
SRES Air                                            3
vacuum precision planter                            3
4 row almaco GPS Drop precision vacuum planter      2
air                                                 2
Fluted cone                                         2
Almaco TP2                                          2
Almaco 4-row air planter                            2
air (Seedpro)                                       1
Vacum                                               1
Fluted Cone                                         1
vacuum planter                                      1
Vacuum                                              1
sres packing planter                                1
John Deere 71 cone planter                          1
John Deere 7300                                     1
Almaco Seed Pro 360                                 1
Name: Type_of_planter (fluted cone; belt cone; air planter), dtype: int64

In [152]:
# get rid of numbers in the categories of this column
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] = meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].str.replace('\d+', '')

C:\Users\vedpi\AppData\Local\Temp\ipykernel_13696\2655681009.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] = meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].str.replace('\d+', '')

In [153]:
# see if this worked
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts()

air planter                                      130
fluted cone                                       34
not_avail                                         25
belt cone                                         22
Air planter                                        7
SRES Air                                           3
vacuum precision planter                           3
 row almaco GPS Drop precision vacuum planter      2
air                                                2
Fluted cone                                        2
Almaco TP                                          2
Almaco -row air planter                            2
air (Seedpro)                                      1
Vacum                                              1
Fluted Cone                                        1
vacuum planter                                     1
Vacuum                                             1
sres packing planter                               1
John Deere  cone planter                           1
John Deere                                         1
Almaco Seed Pro                                    1
Name: Type_of_planter (fluted cone; belt cone; air planter), dtype: int64

In [154]:
# now make all these lower case

# lower
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] = meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].str.lower()

In [155]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts()

air planter                                      137
fluted cone                                       37
not_avail                                         25
belt cone                                         22
sres air                                           3
vacuum precision planter                           3
 row almaco gps drop precision vacuum planter      2
air                                                2
almaco tp                                          2
almaco -row air planter                            2
vacuum                                             1
vacum                                              1
air (seedpro)                                      1
sres packing planter                               1
vacuum planter                                     1
john deere  cone planter                           1
john deere                                         1
almaco seed pro                                    1
Name: Type_of_planter (fluted cone; belt cone; air planter), dtype: int64

In [156]:
planter_list = list(meta_all['Type_of_planter (fluted cone; belt cone; air planter)'])

In [157]:
new_planter_col = []
for i in planter_list:
    if ((meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] == i).value_counts()[1])/meta_all.shape[0] >= 0.05:
        i = i
    else:
        i = 'other'
    new_planter_col.append(i)

In [158]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'] = new_planter_col

In [159]:
meta_all['Type_of_planter (fluted cone; belt cone; air planter)'].value_counts()

air planter    137
fluted cone     37
not_avail       25
other           22
belt cone       22
Name: Type_of_planter (fluted cone; belt cone; air planter), dtype: int64

In [160]:
# not including any comment columns

In [161]:
# meta_all['Issue/comment_#3'].value_counts()

In [162]:
# meta_all['Issue/comment_#3'].isna().sum()

Year

In [163]:
# meta_all['Year'].value_counts()

Env

In [164]:
meta_all['Env'].value_counts()

TXH1-Early_2017    1
TXH1-Dry_2017      1
NYH3_2019          1
NYH3_2020          1
NYH3_2021          1
                  ..
MIH1_2017          1
MIH1_2018          1
MIH1_2019          1
MIH1_2020          1
WIH3_2022          1
Name: Env, Length: 243, dtype: int64

We will include this, but let's count the unique environments as the year is different in envs and this information needs t be taken into account.

In [165]:
list_envs = list(meta_all['Env'])

In [166]:
env_only = []
for i in list_envs:
    env = i.split('_')[0]
    env_only.append(env)

In [167]:
num_envs = len(set(env_only))
num_envs

45

Experiment_Code

In [168]:
# meta_all['Experiment_Code'].value_counts()

In [169]:
# This is basically the code in the env

Treatment

In [170]:
meta_all['Treatment'].isna().sum()

56

In [171]:
meta_all['Treatment'] = meta_all['Treatment'].fillna('not_avail')

In [172]:
meta_all['Treatment'].value_counts()

Standard                        166
not_avail                        56
Drought                           6
Disease trial                     4
Dry Land                          2
Irrigated                         1
Dryland                           1
Standard - Irrigated Optimal      1
Early Planting                    1
Late Planting                     1
Dryland optimal                   1
Late Stressed                     1
Late Planted Irrigated            1
Late planting                     1
Name: Treatment, dtype: int64

In [173]:
# remove the unnecessary categories

# not doing anything as lower case or removing spaces as not worth it - not adding more values to existing categories
trt_list = meta_all['Treatment']
new_trt_col = []
for i in trt_list:
    if ((meta_all['Treatment'] == i).value_counts()[1])/meta_all.shape[0] >= 0.05:
        i = i
    else:
        i = 'other'
    new_trt_col.append(i)

In [174]:
meta_all['Treatment'] = new_trt_col

In [175]:
meta_all['Treatment'].value_counts()

Standard     166
not_avail     56
other         21
Name: Treatment, dtype: int64

City

In [176]:
# meta_all['City'].value_counts() - mostly equally distributed

In [177]:
# meta_all['Farm'].value_counts() - mostly equally distributed

In [178]:
# meta_all['Field'].value_counts()  - mostly equally distributed

In [179]:
# meta_all['Trial_ID (Assigned by collaborator for internal reference)'].value_counts() 
# -not using,too many categories

In [180]:
# meta_all['Soil_Taxonomic_ID and horizon description, if known'].value_counts()
# .isna().sum() 
# - too many missing values

In [181]:
# meta_all['Weather_Station_Serial_Number (Last four digits, e.g. m2700s#####)'].value_counts() 
# - too many cats

meta_all['Weather_Station_Latitude (in decimal numbers NOT DMS)'].isna().sum() - include

In [182]:
# and longitude

In [183]:
# dates excluded as they are not useful in row form

In [184]:
# meta_all['Pre-plant_tillage_method(s)'].value_counts() 
# - too many cats

In [185]:
# meta_all['In-season_tillage_method(s)'].value_counts() 
# - too many missing values

In [186]:
# meta_all['Cardinal_Heading_Pass_1'].value_counts()
# - ignore for now - 104 missing

In [187]:
# all lat and longtude data included

In [188]:
# Irrigated*, Date_Planted**, Plot_Area_ha** not found in the test dataset

In [189]:
meta_all['Pounds_Needed_Soil_Moisture'].isna().sum() 
# - many missing but seems important

88

In [190]:
# meta_all['Pounds_Needed_Soil_Moisture'].value_counts()

In [191]:
# meta_all['System_Determining_Moisture'].value_counts() 
# - too mays cats

In [192]:
final_cols = ['Previous_Crop',
 'Type_of_planter (fluted cone; belt cone; air planter)',
 'Pounds_Needed_Soil_Moisture',
 'Experiment_Code',
 'Weather_Station_Latitude (in decimal numbers NOT DMS)',
 'Year',
 'Latitude_of_Field_Corner_#2 (lower right)',
 'Longitude_of_Field_Corner_#4 (upper left)',
 'Latitude_of_Field_Corner_#4 (upper left)',
 'Longitude_of_Field_Corner_#2 (lower right)',
 'Latitude_of_Field_Corner_#1 (lower left)',
 'Weather_Station_Longitude (in decimal numbers NOT DMS)',
 'Longitude_of_Field_Corner_#1 (lower left)',
 'Env',
 'Longitude_of_Field_Corner_#3 (upper right)',
 'Latitude_of_Field_Corner_#3 (upper right)',
 'City',
 'Treatment']

In [193]:
# final meta data
meta_all_reqs = meta_all[final_cols]
meta_all_reqs.shape

(243, 18)

In [194]:
meta_all_reqs.head()

,Previous_Crop,Type_of_planter (fluted cone; belt cone; air planter),Pounds_Needed_Soil_Moisture,Experiment_Code,Weather_Station_Latitude (in decimal numbers NOT DMS),Year,Latitude_of_Field_Corner_#2 (lower right),Longitude_of_Field_Corner_#4 (upper left),Latitude_of_Field_Corner_#4 (upper left),Longitude_of_Field_Corner_#2 (lower right),Latitude_of_Field_Corner_#1 (lower left),Weather_Station_Longitude (in decimal numbers NOT DMS),Longitude_of_Field_Corner_#1 (lower left),Env,Longitude_of_Field_Corner_#3 (upper right),Latitude_of_Field_Corner_#3 (upper right),City,Treatment
0,not_avail,not_avail,NaN,TXH1,30.545350,2017,NaN,NaN,NaN,NaN,NaN,-96.432581,NaN,TXH1-Early_2017,NaN,NaN,College Station,Standard
1,not_avail,not_avail,NaN,TXH1,30.545350,2017,NaN,NaN,NaN,NaN,NaN,-96.432581,NaN,TXH1-Late_2017,NaN,NaN,College Station,Standard
2,soybean,air planter,NaN,IAH1,41.996530,2014,NaN,NaN,NaN,NaN,NaN,-93.696188,NaN,IAH1b_2014,NaN,NaN,Ames,not_avail
3,soybean,air planter,NaN,IAH1,41.996530,2014,NaN,NaN,NaN,NaN,NaN,-93.696188,NaN,IAH1c_2014,NaN,NaN,Ames,not_avail
4,corn,fluted cone,NaN,ARH1,34.728333,2016,34.729894,-90.760916,34.729151,-90.76094,34.729884,-90.760278,-90.759742,ARH1_2016,-90.759824,34.729151,Marianna,not_avail

#### Soil data

In [195]:
soil_final.shape

(162, 30)

In [196]:
soil_cols = list(soil_final.columns)

In [197]:
soil_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 0 to 20
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Comments                    5 non-null      object
 1   %K Sat                      145 non-null    float64
 2   Calcium ppm Ca              147 non-null    float64
 3   Env                         162 non-null    object
 4   %Ca Sat                     145 non-null    float64
 5   %Na Sat                     145 non-null    float64
 6   Sulfate-S ppm S             143 non-null    float64
 7   Date Reported               162 non-null    object
 8   Date Received               145 non-null    object
 9   E Depth                     147 non-null    float64
 10  %H Sat                      143 non-null    float64
 11  1:1 S Salts mmho/cm         143 non-null    float64
 12  Organic Matter LOI %        154 non-null    float64
 13  % Clay                      138 non-null    float64
 14  lbs N/A                     143 non-null    float64
 15  WDRF Buffer pH              143 non-null    float64
 16  % Silt                      138 non-null    float64
 17  Nitrate-N ppm N             145 non-null    float64
 18  Magnesium ppm Mg            147 non-null    float64
 19  %Mg Sat                     145 non-null    float64
 20  Potassium ppm K             162 non-null    float64
 21  1:1 Soil pH                 160 non-null    float64
 22  Year                        162 non-null    int64
 23  Mehlich P-III ppm P         162 non-null    float64
 24  % Sand                      138 non-null    float64
 25  Texture                     140 non-null    object
 26  Texture No                  146 non-null    float64
 27  LabID                       162 non-null    object
 28  CEC/Sum of Cations me/100g  143 non-null    float64
 29  Sodium ppm Na               145 non-null    float64
dtypes: float64(23), int64(1), object(6)
memory usage: 39.2+ KB

In [198]:
# soil_final['Comments']

In [199]:
# ignored the date columns and comments, but retained everything else

In [200]:
soil_all_reqs = soil_final.drop(['Date Received', 'Date Reported', 'Comments'], axis = 1)

In [201]:
soil_all_reqs.shape

(162, 27)

In [202]:
soil_all_reqs.isna().sum().sum()

381

#### Weather

In [203]:
weather_final.shape

(85595, 18)

In [204]:
weather_cols = list(weather_final.columns)

In [205]:
weather_cols

['ALLSKY_SFC_PAR_TOT',
 'ALLSKY_SFC_SW_DNI',
 'ALLSKY_SFC_SW_DWN',
 'Date',
 'Env',
 'GWETPROF',
 'GWETROOT',
 'GWETTOP',
 'PRECTOTCORR',
 'PS',
 'QV2M',
 'RH2M',
 'T2M',
 'T2MDEW',
 'T2MWET',
 'T2M_MAX',
 'T2M_MIN',
 'WS2M']

In [206]:
weather_final.isna().sum().sum()

34603

In [207]:
# not dropping anything here

#### EC

In [208]:
EC_all.shape

(189, 766)

In [209]:
# any missing values? - nope
EC_all.isna().sum().sum()

0

In [210]:
# type of data
EC_all.describe()

,SDR_pGerEme_1,SDR_pEmeEnJ_1,SDR_pEnJFlo_1,SDR_pFloFla_1,SDR_pFlaFlw_1,SDR_pFlwStG_1,SDR_pStGEnG_1,SDR_pEnGMat_1,SDR_pMatHar_1,SDR_pGerEme_2,...,LAI_pMatHar,AccumulatedTT_pGerEme,AccumulatedTT_pEmeEnJ,AccumulatedTT_pEnJFlo,AccumulatedTT_pFloFla,AccumulatedTT_pFlaFlw,AccumulatedTT_pFlwStG,AccumulatedTT_pStGEnG,AccumulatedTT_pEnGMat,AccumulatedTT_pMatHar
count,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,...,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000,189.000000
mean,3.664677,3.194397,2.539925,1.793942,1.111110,1.173365,1.403835,1.972903,2.001531,4.058431,...,0.949530,59.342099,195.655218,306.060253,580.735258,900.385028,989.213536,1306.737791,1563.456363,1573.453044
std,2.439544,1.615596,2.649596,0.887649,0.848760,0.814779,0.893686,2.531352,2.865657,2.104736,...,0.750376,33.325778,38.621089,54.486098,75.225761,96.225263,97.016169,121.164648,141.417090,141.023831
min,-0.055653,-0.185824,-0.501223,0.196330,-0.137841,-0.135943,-0.719383,-1.211387,-1.562756,0.812787,...,0.000000,39.483802,129.787786,190.526612,413.630625,701.271766,788.129253,1049.118036,1250.820536,1259.603036
25%,1.969966,2.032368,1.270599,1.076572,0.529318,0.544720,0.730987,0.516223,0.564778,2.636394,...,0.199814,49.317217,176.274597,274.206008,535.962970,841.180391,928.083250,1228.899656,1480.760397,1489.743331
50%,3.273684,3.271231,2.041081,1.688318,1.028006,1.048677,1.305110,1.553835,1.594714,3.570991,...,0.796466,55.079749,189.846242,296.322610,569.432373,888.332253,978.107900,1293.313201,1548.173936,1557.166436
75%,4.934672,4.235441,2.909179,2.494383,1.481212,1.636561,1.993813,2.395286,2.374700,4.860020,...,1.684233,60.300227,204.605496,322.750866,605.006524,932.574673,1020.559274,1345.434522,1615.024639,1626.072418
max,11.508488,7.759216,22.558409,4.189615,4.958616,3.683131,5.232937,18.253280,31.352579,12.205156,...,2.242068,425.366108,534.931928,616.377754,875.913355,1269.177229,1356.226335,1765.707260,2117.984330,2126.854330

In [211]:
num_cols_EC = EC_all.select_dtypes(include=np.number)

In [212]:
num_cols_EC.shape

(189, 765)

In [213]:
# all data are numeric apart from the Env - include all data

#### Okay, now we can merge all the data

In [214]:
# sub data and meta data first

In [215]:
sub_all.head()

,Env,Hybrid,Yield_Mg_ha,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,...,Date_Harvested,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Grain_Moisture,Twt_kg_m3
0,DEH1_2014,M0088/LH185,5.721725,2014.0,DEH1,G2F_2014_15,1.0,1.0,1.0,1.0,...,9/29/14,56.0,63.0,67.0,213.0,79.0,0.0,0.0,20.8,706.664693
1,DEH1_2014,M0143/LH185,11.338246,2014.0,DEH1,G2F_2014_15,1.0,1.0,2.0,1.0,...,9/29/14,54.0,61.0,63.0,286.0,172.0,0.0,0.0,25.8,693.792841
2,DEH1_2014,M0003/LH185,6.540810,2014.0,DEH1,G2F_2014_15,1.0,1.0,3.0,1.0,...,9/29/14,60.0,63.0,65.0,239.0,92.0,0.0,4.0,20.8,698.941582
3,DEH1_2014,M0035/LH185,10.366857,2014.0,DEH1,G2F_2014_15,1.0,1.0,4.0,1.0,...,9/29/14,59.0,61.0,63.0,242.0,118.0,0.0,0.0,23.7,711.813434
4,DEH1_2014,M0052/LH185,10.908814,2014.0,DEH1,G2F_2014_15,1.0,1.0,5.0,1.0,...,9/29/14,58.0,63.0,65.0,211.0,92.0,0.0,0.0,19.4,743.993065

In [216]:
sub_all['Year'] = sub_all['Year'].fillna(2022)

In [217]:
sub_all['Year'].isna().sum()

0

In [218]:
sub_all['Year'] = sub_all['Year'].astype('int64')

In [219]:
# sub_all['Year'].isna().sum()

In [220]:
sub_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147567 entries, 0 to 11554
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Env                   147567 non-null  object
 1   Hybrid                147567 non-null  object
 2   Yield_Mg_ha           128167 non-null  float64
 3   Year                  147567 non-null  int64
 4   Field_Location        136012 non-null  object
 5   Experiment            136012 non-null  object
 6   Replicate             136012 non-null  float64
 7   Block                 136012 non-null  float64
 8   Plot                  136012 non-null  float64
 9   Range                 117287 non-null  float64
 10  Pass                  117697 non-null  float64
 11  Hybrid_orig_name      136012 non-null  object
 12  Hybrid_Parent1        134393 non-null  object
 13  Hybrid_Parent2        134393 non-null  object
 14  Plot_Area_ha          136011 non-null  float64
 15  Date_Planted          135650 non-null  object
 16  Date_Harvested        134887 non-null  object
 17  Stand_Count_plants    124359 non-null  float64
 18  Pollen_DAP_days       105515 non-null  float64
 19  Silk_DAP_days         103132 non-null  float64
 20  Plant_Height_cm       120451 non-null  float64
 21  Ear_Height_cm         120468 non-null  float64
 22  Root_Lodging_plants   76371 non-null   float64
 23  Stalk_Lodging_plants  87824 non-null   float64
 24  Grain_Moisture        128242 non-null  float64
 25  Twt_kg_m3             108060 non-null  float64
dtypes: float64(16), int64(1), object(9)
memory usage: 30.4+ MB

In [221]:
meta_all_reqs.shape

(243, 18)

In [222]:
sub_all[sub_all['Year'] == 2022]

,Env,Hybrid,Yield_Mg_ha,Year,Field_Location,Experiment,Replicate,Block,Plot,Range,...,Date_Harvested,Stand_Count_plants,Pollen_DAP_days,Silk_DAP_days,Plant_Height_cm,Ear_Height_cm,Root_Lodging_plants,Stalk_Lodging_plants,Grain_Moisture,Twt_kg_m3
0,DEH1_2022,B14A/OH43,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEH1_2022,B37/H95,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DEH1_2022,B73/MO17,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DEH1_2022,B73/PHN82,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DEH1_2022,B73/TX779,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11550,WIH3_2022,W10010_0337/LH244,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11551,WIH3_2022,W10010_0346/LH244,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11552,WIH3_2022,W10010_0358/LH244,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11553,WIH3_2022,W10010_0381/LH244,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11554,WIH3_2022,W10010_0452/LH244,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
# meta_all_reqs['Env'].value_counts()

# primary key in RHS is unique

In [224]:
sub_all.shape

(147567, 26)

In [225]:
# sub_all = sub_all[['Env', 'Hybrid', 'Yield_Mg_ha']]

In [226]:
sub_all.shape

(147567, 26)

In [227]:
# see if there are any duplicate rows
sub_all_final = sub_all.drop_duplicates()

In [228]:
sub_all_final.shape

(147567, 26)

In [229]:
# Let's see the intersecting columns
intersecting_sub = list(set(sub_all.columns) & set(meta_all_reqs.columns))

In [230]:
intersecting_sub

['Year', 'Env']

In [231]:
# since the year is changing, only merge by Env

In [232]:
# Okay, I think it should be a left join
sub_and_meta = sub_all.merge(meta_all_reqs, on = ["Env", 'Year'], how = 'left')

In [233]:
sub_and_meta.shape

(147567, 42)

In [234]:
sub_and_meta.isna().sum().sum()

874247

In [235]:
sub_and_meta = sub_and_meta.reset_index(drop = True)

In [236]:
sub_and_meta.shape

(147567, 42)

In [237]:
sub_and_meta['Year']

0         2014
1         2014
2         2014
3         2014
4         2014
          ...
147562    2022
147563    2022
147564    2022
147565    2022
147566    2022
Name: Year, Length: 147567, dtype: int64

In [238]:
# sanity check
# meta_all_reqs.head()

In [239]:
# DEH1_2014_meta = meta_all_reqs[meta_all_reqs['Env'] == 'DEH1_2014']
# DEH1_2014_meta

In [240]:
# DEH1_2014_all = sub_all[sub_all['Env'] == 'DEH1_2014']
# DEH1_2014_all.head()

#### now mege soil

In [241]:
# get the intersecting columns
int_cols_soil = list(set(soil_all_reqs.columns) & set(sub_and_meta.columns))
int_cols_soil

['Env', 'Year']

In [242]:
soil_all_reqs.shape

(162, 27)

In [243]:
soil_all_reqs.isna().sum()

%K Sat                        17
Calcium ppm Ca                15
Env                            0
%Ca Sat                       17
%Na Sat                       17
Sulfate-S ppm S               19
E Depth                       15
%H Sat                        19
1:1 S Salts mmho/cm           19
Organic Matter LOI %           8
% Clay                        24
lbs N/A                       19
WDRF Buffer pH                19
% Silt                        24
Nitrate-N ppm N               17
Magnesium ppm Mg              15
%Mg Sat                       17
Potassium ppm K                0
1:1 Soil pH                    2
Year                           0
Mehlich P-III ppm P            0
% Sand                        24
Texture                       22
Texture No                    16
LabID                          0
CEC/Sum of Cations me/100g    19
Sodium ppm Na                 17
dtype: int64

In [244]:
soil_all_reqs.groupby(['Env', 'Year']).size()

Env        Year
ARH1_2016  2016    1
ARH2_2016  2016    1
COH1_2017  2017    1
DEH1_2016  2016    1
DEH1_2017  2017    1
                  ..
WIH2_2021  2021    1
WIH2_2022  2022    1
WIH3_2020  2020    1
WIH3_2021  2021    1
WIH3_2022  2022    1
Length: 162, dtype: int64

In [245]:
soil_all_reqs = soil_all_reqs.reset_index(drop = True)

In [246]:
# let's merge on Env, and year
sub_meta_soil = pd.merge(sub_and_meta, soil_all_reqs, left_on = ["Env", "Year"], right_on = ["Env", "Year"], how = 'left')

In [247]:
sub_meta_soil.shape

(147567, 67)

In [248]:
sub_meta_soil = sub_meta_soil.drop_duplicates()
sub_meta_soil.shape

(147567, 67)

In [249]:
sub_meta_soil.isna().sum()

Env                               0
Hybrid                            0
Yield_Mg_ha                   19400
Year                              0
Field_Location                11555
                              ...
Texture                       55741
Texture No                    51606
LabID                         43423
CEC/Sum of Cations me/100g    53096
Sodium ppm Na                 52098
Length: 67, dtype: int64

#### merge weather

In [250]:
# get the intersecting columns
int_cols_wea = list(set(weather_final.columns) & set(sub_meta_soil.columns))
int_cols_wea

['Env']

In [251]:
weather_final['Env'].value_counts()

ARH1_2016      366
WIH3_2020      366
MOH1_1_2020    366
WIH2_2016      366
MOH1_2016      366
              ...
IAH2_2022      314
IAH1_2022      314
GAH1_2022      314
DEH1_2022      314
WIH3_2022      314
Name: Env, Length: 238, dtype: int64

In [252]:
# drop variable "Date", and average across each env
weather_final = weather_final.drop(["Date"], axis = 1)

In [253]:
weather_final.head()

,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,Env,GWETPROF,GWETROOT,GWETTOP,PRECTOTCORR,PS,QV2M,RH2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,WS2M
0,41.96,5.96,8.21,ARH1_2016,0.8,0.83,0.84,0.0,102.34,3.54,77.00,3.08,-0.78,1.15,7.80,-0.70,2.15
1,55.13,16.13,11.28,ARH1_2016,0.8,0.83,0.84,0.0,102.04,3.23,74.62,2.74,-1.91,0.42,10.15,-3.10,1.49
2,49.21,18.36,9.78,ARH1_2016,0.8,0.83,0.84,0.0,101.59,4.09,80.69,4.38,1.05,2.72,12.39,-1.29,1.95
3,35.66,10.87,7.35,ARH1_2016,0.8,0.83,0.84,0.0,102.24,2.87,79.88,-0.09,-3.49,-1.79,4.56,-4.00,3.45
4,62.04,27.02,13.00,ARH1_2016,0.8,0.82,0.84,0.0,102.37,2.81,78.81,0.16,-3.64,-1.74,6.94,-4.59,1.95

In [254]:
weather_final = weather_final.groupby(['Env'], as_index=False).mean()

In [255]:
weather_final

,Env,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DWN,GWETPROF,GWETROOT,GWETTOP,PRECTOTCORR,PS,QV2M,RH2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,WS2M
0,ARH1_2016,88.951940,18.742459,16.773798,0.693169,0.708087,0.690055,3.164372,101.113087,10.201530,72.506803,18.089563,12.322404,15.205847,24.030000,12.695929,2.387951
1,ARH1_2017,86.509096,17.611753,16.343205,0.674986,0.687808,0.685315,3.232986,101.038055,10.172603,73.081370,17.978959,12.471123,15.225041,23.951863,12.424740,2.464301
2,ARH1_2018,85.175562,16.547452,16.047233,0.745096,0.764384,0.758384,4.260356,101.132192,10.388438,77.356384,17.045096,12.515068,14.780329,22.591671,11.842904,2.383370
3,ARH2_2016,87.544481,18.502568,16.533169,0.693907,0.673470,0.694235,3.120656,100.774727,10.095628,76.529481,16.262268,11.687650,13.974672,21.911475,11.160546,2.270137
4,ARH2_2017,85.497808,17.679836,16.202986,0.611452,0.615836,0.630712,3.345342,100.729178,9.722849,73.320904,16.922603,11.584110,14.253014,22.645644,11.389425,2.708932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,WIH2_2021,72.587178,14.480192,14.085315,0.491507,0.482466,0.530877,1.917151,98.286521,6.830575,77.108904,8.852740,4.495096,6.674055,14.130658,3.569562,3.121863
234,WIH2_2022,45.180500,12.740500,14.972895,0.450000,0.445667,0.492833,4.025016,98.231133,7.451294,80.712298,8.900227,5.503916,7.202136,14.027087,3.624693,3.386181
235,WIH3_2020,72.552678,15.854945,14.062814,0.608852,0.539399,0.594372,2.538852,98.296639,6.639781,82.977842,7.292705,4.266667,5.780082,12.129836,2.401639,3.253661
236,WIH3_2021,72.502658,15.157096,14.081151,0.485699,0.440247,0.497918,2.171616,98.289205,6.834247,78.812630,8.311425,4.419945,6.366055,13.342740,3.208000,3.103836
237,WIH3_2022,45.460500,13.162833,15.023411,0.430833,0.396000,0.455833,3.331359,98.230032,7.198447,80.056343,8.520032,4.971715,6.745987,13.620809,3.220485,3.425599

In [256]:
weather_final.shape

(238, 17)

In [257]:
# merge on this
sub_meta_soil_wea = sub_meta_soil.merge(weather_final, how = 'left', on = "Env")

In [258]:
sub_meta_soil_wea.shape

(147567, 83)

#### merge the EC data

In [259]:
# get the intersecting columns
int_cols_EC = list(set(EC_all.columns) & set(sub_meta_soil_wea.columns))
int_cols_EC

['Env']

In [260]:
# any duplicate values?
EC_all['Env'].value_counts()

DEH1_2014          1
NYH3_2020          1
INH1_2020          1
MIH1_2020          1
MNH1_2020          1
                  ..
NYH3_2017          1
TXH1-Dry_2017      1
TXH1-Early_2017    1
TXH1-Late_2017     1
WIH3_2022          1
Name: Env, Length: 189, dtype: int64

In [261]:
# nope - do a left merge
data_all_final = sub_meta_soil_wea.merge(EC_all, how = 'left', on = "Env")

In [262]:
data_all_final.shape

(147567, 848)

In [263]:
# Now, split the train and test datasets
train_ID = list(train_sub_data['Env'].unique())

In [264]:
len(train_ID)

217

In [265]:
train_true = []
for i in data_all_final['Env']:
    if i in train_ID:
        train_true.append(True)
    else:
        train_true.append(False)

In [266]:
len(train_true)

147567

In [267]:
data_all_final['train_true'] = train_true

In [268]:
train_data = data_all_final[data_all_final['train_true'] == True]

In [269]:
train_data.shape

(136012, 849)

In [270]:
test_data = data_all_final[data_all_final['train_true'] == False]

In [271]:
test_data.shape

(11555, 849)

In [292]:
# store all these files
data_all_final.to_csv(r"output_data//final_data_all_with_traits.csv", index = False)

In [273]:
# train data
# train_data.to_csv(r"train_data_with_traits.csv")

In [274]:
# test data
# test_data.to_csv(r"test_data_with_traits.csv")

In [275]:
# import all data
# all_data = pd.read_csv(r"merged_data\final_data_all.csv")

In [276]:
# all_data_traits = pd.read_csv(r"merged_data\final_data_all_with_traits.csv")

In [278]:
# all_data['%H Sat'].isna().sum()

In [279]:
# all_data.columns

In [280]:
# all_data_traits['%H Sat'].isna().sum()

In [281]:
# all_data_test = all_data[all_data['train_true'] == False]

In [282]:
# all_data_test['%H Sat'].isna().sum()

In [283]:
# all_data_test.shape

In [284]:
# all_data_traits_test = all_data_traits[all_data_traits['train_true'] == False]

In [285]:
# all_data_traits_test['%H Sat'].isna().sum()

In [286]:
# all_data_test.columns

In [287]:
# all_data_test['%Mg Sat'].isna().sum()

In [288]:
# all_data_traits_test['%Mg Sat'].isna().sum()

In [ ]:
# # for traits
# trait_cols = list(sub_all_final.columns)
# trait_cols

In [289]:
# len(trait_cols)

In [ ]:
# # meta columns
# meta_cols = list(meta_all_reqs.columns)
# len(meta_cols)

In [ ]:
# meta_cols

In [ ]:
# soil columns
# soil_columns = list(soil_all_reqs.columns)

In [ ]:
# soil_columns

In [ ]:
# weather columns
# weather_cols = list(weather_final.columns)

In [ ]:
# len(weather_cols)

In [ ]:
# weather_cols

In [ ]:
# EC columns
# EC_cols = list(EC_all.columns)

In [ ]:
# len(EC_cols)

In [ ]:
# EC_cols